@charset "UTF-8";

:root{
    --maincolor: #ffebcd;
    --titlecolor: #deb887;
}
*{
    padding: 0;
    margin: 0;
}
body{
}
.pre{
    background-color: #ffebcd;
    
    margin: 10px 0px 2px 0px ;
    
}
.pre>h1{
    background-color: #deb887;
    margin-bottom: 10px;
}

.pre>ul{
    padding: 7px 20px;
}

.pre>ul>li{
    padding: 5px;
}

.pre>ul>li>ul{
    padding: 0px 10px;
}
.semana{
    background-color: var(--maincolor);
    margin: 10px 0px 2px 0px;
}

.semana>h1{
    background-color: var(--titlecolor);
}

.semana>ul{
    padding: 7px 20px;
}

.semana>ul>li{
    padding: 5px;
}

.semana>ul>li>ul{
    padding: 0px 10px;
}

.mod{
    background-color: var(--maincolor);
    margin: 10px 0px 2px 0px;
}

.mod>h1{
    background-color: var(--titlecolor);
}

.mod>ul{
    padding: 7px 20px;
}

.mod>ul>li{
padding: 5px;
}

.elem-func{
    background-color: var(--maincolor);
    margin: 10px 0px 2px 0px;
}

.elem-func>h1{
    background-color: var(--titlecolor);
}

.elem{
    padding: 10px 0px;
}

.elem>h2{
    background-color: #e48810be;
    margin-bottom: 7px;
}

.elem>ul{
    padding: 7px 20px;
}

.elem>ul>li{
    padding: 5px;
}

.func{
    padding: 10px 0px 0px 0px;
}

.func>h2{
    background-color: #e48810be;
}

.func>ul{
    padding: 7px 20px;
}

.func>ul>li{
    padding: 5px;
}

.vang{
    background-color: var(--maincolor);
    padding-bottom: 20px;
}

.vang>h1{
    background-color: var(--titlecolor);
}

.vang>ul{
    padding: 0px 20px ;
}

.vang>ul>li{
    margin-bottom: 10px;
    margin-top: 40px;
}


.vang>ul>img{
    max-width: 200px;
    margin-top: -10px;
}

.proc{
    background-color: var(--maincolor);
}

.proc>h1{
    background-color: var(--titlecolor);
}

.comp{
    padding: 20px 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.623);
    margin-bottom: 30px;
    margin-top: 10px;
}

.comp>h3{
    background-color: #e48810be;
    font-size: 1.5em;
}

.comp>ul{
    padding: 20px ;
}

.comp>ul>li{
    padding: 7px 0px;
}

.deri{
    padding: 20px 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.623);
    margin-bottom: 40px;
}

.deri>h3{
    background-color: #e48810be;
    font-size: 1.5em;
}

.deri>ul{
    padding: 20px;
}

.deri>ul>li{
    padding: 7px 0px;
}

.extra{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.623);
    border-radius: 20px;
    padding: 20px 0px;
}

.extra>h3{
    background-color: #e48810be;
    font-size: 1.5em;
}

.extra>ul{
    padding: 20px;
}

.extra>ul>li{
    padding: 7px 0px;
}