@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'passion';
    src: url(fonts/Passion_One/PassionOne-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'sriracha' ;
    src: url(fonts/Sriracha/Sriracha-Regular.ttf) format('truetype');
}

header{
    min-height: 90px;
    font-family:'passion', serif;
    font-variant: small-caps;
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
    font-size: 4.5vw;
}

header p{
    font-size: 1.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p a{
    color: white;
    text-decoration: none;
}

header p a:hover{
    text-decoration: underline;
}

section{
    font-family: 'sriracha', cursive;
    font-size: 2.6vw;
    padding: 25px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}
section.normal{
    min-height: 400px;
    line-height: 3em;
}

section.img>div{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    max-width: 630px;
    padding: 7px;
}

section.img p{
    line-height: 3em;
}
section.img#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
}
section.img#img02{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
}