@charset "UTF-8";
*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#026773, #024959);
}
main{
    width: 700px;
    background-color: rgba(248, 248, 255, 0.226);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
    
}
h1{
    color: #3CA6A6;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.295);
}

h2{
    color: #012E40;
}

p{
    text-align: justify;
}

